 <!--
  File name: login.ejs
   Student’s Name: Pok Hei Yeung
   StudentID: 301240885
   Date: 18/10/2022
 -->



 <%- include ../partials/header.ejs %>
<main>
 <body>
    <div class="content">
        <% if(messages.length>0){%>
            <div class="alert">
                <%= messages%>  
          
            </div>
        <%}%>

    <h1><%= title %></h1>

    <form class="form" method="POST">

  
        <p><label>Display Name: </label>
            <input type="text" 
            placeholder="Display Name"
            name="displayName" required></p>
        <p><label>Username: </label>
            <input type="text" 
            placeholder="Username"
            name="username" required></p>
        <p><label>Password: </label>
            <input type="password" 
            placeholder="Password"
            name="password" required></p>
        <p><label>Email: </label>
            <input type="email" 
            placeholder="Email"
            name="regemail" required></p>
            
        

        

        <button class="registrate reg" type="submit">
            Registrate!</button>

            <a href="/login" class="registrate cancel">
            Cancel</a>

    </form>

    </div>


</body>
</main>
<%- include ../partials/footer.ejs %>