
 <!--
  File name: footer.ejs
   Student’s Name: Pok Hei Yeung
   StudentID: 301240885
   Date: 28/09/2022
 -->
   
<!--partials for footer-->

<footer>  

<small>
  ©Copyright Pok Hei Yeung 2022 301240885

</small>
<button onclick="toTop()" id="toTopButton">^</button>

</footer>

</html>

