 <!--
  File name: header.ejs
   Student’s Name: Pok Hei Yeung
   StudentID: 301240885
   Date: 28/09/2022
 -->
<!--partials for head-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <header>
      <%- include nav.ejs %>
    </header>
    <!--Display displayname base on login or not-->
           
      <%if(typeof displayName=='string'&&displayName){%>
        <h1 class="hi logined"> Hi!! <%=displayName%></h1>
      <%}else{%>
        <h1 class="hi">Hi! Random nice people</h1>
      <%}%>
    
<link rel='stylesheet' href='/Content/style.css' />

<script src="../Scripts/style.js"></script>

</head>




