
 <!--
  File name: aboutMe.ejs
   Student’s Name: Pok Hei Yeung
   StudentID: 301240885
   Date: 28/09/2022
 -->



 <%- include partials/header.ejs %>

<body>
    <div class="content">
    

    
    <h1> About Me</h1>
    

<div class="Grid" >
    
    <div  class="grid">
        <p class="aboutMe">My Name is Pok Hei Yeung, you can call me Tommy. 
                I come from Hong Kong and came to Canada to study on Dec 2021 - quite a freezing winter compare to the winter in Hong Kong. 
                I graduated with BSc (Hons) in Food Science and Safety in Hong Kong on 2020. Worked as a quality control assistant, and laboratory technician in a medical/ health product/ food factory in Hong Kong as well as a research assistant in the Technological and Higher Education Institute of Hong Kong. 
                I am currently a student in Centennial College, studying Software Engineering Technician Diploma. I like music, although I am no professional musician myself, I enjoy learning and playing guitar and bass and jamming with my friends. 
        </p>
            
    </div>

    <div  >
        <p id="aboutMePic"><img  src="Assets/images/isMe.jpg" width="200" ></p>
    </div>

    <div class="aboutMeGrid-3">
        
    </div>
</div>

<button class="indexbutton">
    <a href="../../Assets//doc/resume.pdf" >Resume</a>



  </div>  

    
</body>

<%- include partials/footer.ejs %>
