
 <!--
  File name: index.ejs
   Student’s Name: Pok Hei Yeung
   StudentID: 301240885
   Date: 28/09/2022
 -->


 <%- include partials/header.ejs %>

<body>
    <div class="content">
    <h1><%= title %></h1>

    <div  class="grid">
    
    <h1>Welcome</h1>
    <h3>Hi, this is Pok Hei Yeung, you can call me Tommy. </h3>
    <h3>This is my portfolio, nice to meet you!!</h3>
    <h1>Mission</h1>
    <p>Let no man despise thy youth; but be thou an example of the believers, in word, in conversation, in charity, in spirit, in faith, in purity.</p>
    </div>

    
    <button class="indexbutton">
    <a href="/aboutMe" >AboutMe</a>
   
    </button>
   </div>
</body>


<%- include partials/footer.ejs %>

