
 <!--
  File name: project.ejs
   Student’s Name: Pok Hei Yeung
   StudentID: 301240885
   Date: 28/09/2022
 -->





 <%- include partials/header.ejs %>

<body>
   <div class="content">

    <h1><%= title %></h1>
    <div class="Grid">
    
    
        <div class="grid">
            <h3>Project 1 - Ultrasound Assisted Extraction of Mushroom polysaccharides</h3>
            <p>Working as a research assistant back in Hong Kong, 
                I am glad that I can participate in the research of conditioning the ultrasonic 
                extraction process on mushroom polysaccharides. Extract Auricularia auricula-judae polysaccharides
                in water with different condition including temperature, power of ultrasonication, 
                solid to liqud ratio, particle size and utilze Anthrone Test and UV spectrophotometer to determine the yield.  
                Unfortunately, I only participated on a part of the research and research 
                is still in progress due to the pandemic.
            </p>
        
        </div>

        <div class="grid">
            <img src="Assets/images/uae1.jpg" alt="" width="200px">
            
            <img src="Assets/images/uae2.jpg" alt="" width="200px">
            
           
        
        </div>


        <div class="grid">
            <h3>Project 2 - Edible Film Coating Development</h3>
            <p>
                Participated in the research of edible film coating development, which is intended to use 
                chlorogenic acid extracted from honey suckle - 
                a chemical that is anti-bacteria. Research on the extraction condition of chlorogenic acid 
                in honey suckle, me and my team compared the different extraction condition including temperature, 
                solvent (water and absolute ethanol), parts of the flower (the bulb and the flower) and utilzed 
                HPLC to determine the yield. 
            </p>

        </div>
        <div class="grid">
            <img src="Assets/images/efc1.jpg" alt="" width="200px">
            
            <img src="Assets/images/efc2.JPG" alt="" width="200px">

        </div>
        <div class="grid">
            <h3>Project 3 - Nutri.Life</h3>
            <p>
                Nutri.Life software requirement specification proposal about an app that allows users to register, 
                create a profile, set requirements and then get a nutritional meal plan from a nutritionist. 
                The app also supports a nutrition calculator and healthy meal delivery.
            </p>

        </div>
        <div class="grid">
        <img src="Assets/images/srs.png" alt=""width="500px">

        </div>
            
            
            
    
    
    
    
    </div>
    
</div>
</body>
<%- include partials/footer.ejs %>