
 <!--
  File name: service.ejs
   Student’s Name: Pok Hei Yeung
   StudentID: 301240885
   Date: 28/09/2022 
 -->


 
 <%- include partials/header.ejs %>

<body>
    <div class="content">

    <h1><%= title %></h1>
    <div class="Grid">
        <div class="grid">
    <h3>Laboratory Testing - Microbiological test</h3>
        <ul>
            <li>Total bacteria count (TBC)</li>
            <li>Total yeast & mold count (TYMC)</li>
            <li>E.coli</li>
            <li>Pseudomonas aeruginosa</li>
            <li>Salmonella</li>
            <li>Staphylococcus aureus</li>
            <li>Gram stain</li>
        </ul>
    </div>

    <div class="grid">
        
        <img  src="Assets/images/tbc.JPG" width="200" >
        <img  src="Assets/images/gs.JPG" width="200" >
        <img  src="Assets/images/ecoli.JPG" width="300" >
    </div>

    <div class="grid">
    <h3>Laboratory Testing - Chemical test</h3>
        <ul>
            <li>Thin layer chromatography (TLC)</li>
            <li>UV spectrophotometer</li>
            <li>Anthrone test</li>
            <li>HPLC</li>

        </ul>
    </div>
    <div class="grid">
        <img  src="Assets/images/standard.jpeg" width="150" >
        <img  src="Assets/images/tlc2.jpg" width="150" >
    </div>
    <div class="grid">
    <h3>General Programming, Web Development</h3>
   
        <ul>
           <li>C#</li>
           <li>Java</li>
           <li>Javascript</li>
           <li>HTML</li>
           <li>CSS</li>
           <li>Javascript</li>
           
        </ul>
    </div class="grid">
    
        
    <div>
        <img  src="Assets/images/csharp.png" width="200" >
        <img  src="Assets/images/web.png" width="200" >
    </div>
</div>










    </div>
</body>

<%- include partials/footer.ejs %>